.expense-item{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    background-color: rgb(170, 230, 254);
    box-shadow: 5px 5px 20px black ;
    border-radius: 10px;
    color: rgb(165, 61, 42);
    font-size: x-large;
    display: flex;
    align-items: center;
}

.expense-des{
    color: rgb(17, 18, 18);
    padding-left: 10px;
    display: flex;
    justify-content : space-between;
    flex:1%;
    align-items: center;
}

.price{
    color: white;
    font-size: xx-large;
    background-color: rgb(4, 56, 242);
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}